{% extends "layout.html" %}

{% block main %}

<h1>Using the app.</h1>

<p class="info">
1) Start typing (or copy and paste) the name of the movie*.<br>
2) Select the movie from the list**.<br>
3) Press "Add movie".<br>
4) To remove the movie from your list press "Delete".<br>
5) Go to the settings to adjust your notifications.<br><br>

* try to use the exact name of the movie, with the correct punctuation marks. <br>
** you can add only the movies that has not been released yet.
</p>

<h1>Notification time.</h1>

<p class="info">
Right now there is no support of the timezones. So all the users are going to recieve their notification 
e-mails at the same time: UTC 8:00 AM. That equals to 11:00 AM Moscow Standard Time, 3:00 AM EST, 
4:00 AM EDT, midnight PST and 1:00 AM PDT. 
</p>
{% endblock %}